<!DOCTYPE html>
<html>
<head>
    <title>Статистика игроков</title>
</head>
<body>
    <h1>Топ игроков</h1>
    <table border="1">
        <tr>
            <th>Игрок</th>
            <th>Победы</th>
            <th>Поражения</th>
        </tr>
        {% for player in players %}
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.wins }}</td>
            <td>{{ player.losses }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">На главную</a>
</body>
</html>